on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write

jobs:
  dagger:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@v9

      - name: Checkout
        uses: actions/checkout@v5

      - name: Activate Nix environment
        uses: lukas-mertens/switch-into-nix-shell@v1.0.0

      - name: Decrypt secrets
        run: |
          echo ${{ secrets.AGE_KEY }} | rage -d -i - -o ./secrets/mok.key ./secrets/mok.key.age
          echo ${{ secrets.AGE_KEY }} | rage -d -i - -o ./secrets/cosign.key ./secrets/cosign.key.age

      - name: Get dagger vesion
        id: dagger-version
        run: |
          dagger version | awk '{print "version="$2;}' >> $GITHUB_OUTPUT

      - name: Run Dagger Workflow
        uses: dagger/dagger-for-github@v8.2.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          version: ${{ steps.dagger-version.outputs.version }}
          call: >-
            build-and-push
            --mok=file://./secrets/mok.key
            --cosign-key=file://./secrets/cosign.key
            --revision=${{ github.sha }}
            --registry=ghcr.io
            --namespace=${{ github.repository_owner }}
            --username=${{ github.actor }}
            --password=env://GITHUB_TOKEN
            --is-pr=${{ github.event_name == 'pull_request' && 'true' || 'false' }}
            --pr-number="${{ github.event.pull_request.number }}"
